extends layout

block content
    .w3-container
        h1= lista.designacao  
        table.w3-table-all
            tr
                th Estado
                th Sigla
                th Designação
                th ID
                tr
                    td= lista.estado
                    td= lista.sigla
                    td= lista.designacao
                    td= lista.id

                if(ent.length)
                    tr
                        th Entidades
                        td   
                            each entidade in ent
                                    td= entidade.sigla
                                    td= entidade.designacao
                                    td= entidade.id
                if(proc.length)
                    tr
                        th Processos
                        td  
                            each processo in proc
                                    td= processo.codigo
                                    td= processo.titulo
                                    td= processo.id 

        a(href="http://localhost:4080/") Menu principal